body{
  background-color: black;
}

.MainContainer {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 480px) {
  .MainContainer{
    height: 80vh;
  }
}